astroid==2.3.3
attrs==19.1.0
autopep8==1.4.4
azure-functions==1.0.3
beautifulsoup4==4.8.0
certifi==2019.6.16
chardet==3.0.4
google==2.0.3
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.2
lxml==4.4.1
mccabe==0.6.1
price-parser==0.2.4
pycodestyle==2.5.0
PyJWT==1.7.1
pylint==2.3.1
pymongo==3.10.1
PySocks==1.7.0
pytz==2019.2
requests==2.22.0
six==1.12.0
soupsieve==1.9.3
twilio==6.30.0
typed-ast==1.4.0
urllib3==1.25.3
wrapt==1.11.2
